[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coenoflex"]
	path = coenoflex
	url = https://github.com/cran/coenoflex
[submodule "fso"]
	path = fso
	url = https://github.com/cran/fso
[submodule "labdsv"]
	path = labdsv
	url = https://github.com/cran/labdsv
[submodule "optpart"]
	path = optpart
	url = https://github.com/cran/optpart
